<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/registration.css' %}">
    <title>Registration</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-title">
                    Registration
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 registration-form">
                        <form class="needs-validation"  method="POST" action="saveReg">{% csrf_token %}

                            <div class="form-group">
                                <label class="form-control-label">Firstname</label>
                                <input type="text" name="firstname" class="form-control" value="{{firstname}}" pattern="[a-zA-Z]{2,}"  oninvalid="this.setCustomValidity('Enter First Name Here')" oninput="this.setCustomValidity('')"required>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Lastname</label>
                                <input type="text" name="lastname" class="form-control" value="{{lastname}}" pattern="[a-zA-Z]{2,}"  oninvalid="this.setCustomValidity('Enter Last Name Here')" oninput="this.setCustomValidity('')"required>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Username</label>
                                <input type="text" name="username" class="form-control" value="{{username}}" pattern="^[a-zA-Z0-9_-]{3,15}$" oninvalid="this.setCustomValidity('no special characters allowed')" oninput="this.setCustomValidity('')"required>
                                <span style='display:{{display}};color:red'><small>@Username already
                                        taken</small></span>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Emailid</label>
                                <input type="text" name="emailid" class="form-control" value="{{emailid}}"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  oninvalid="this.setCustomValidity('Enter Proper emailid')" oninput="this.setCustomValidity('')"required/>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Password </label>
                                <input type="password" name="password" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="this.setCustomValidity('password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter')" oninput="this.setCustomValidity('')"required>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">RetypePassword</label>
                                <input type="password" name="rpassword" class="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" oninvalid="this.setCustomValidity('password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter')" oninput="this.setCustomValidity('')"  onpaste="return false"required>

                            </div>

                            <div class="form-group">
                                <label class="form-control-label">City</label>
                                <input type="text" name="city" class="form-control" value="{{city}}" pattern="[a-zA-Z]{2,}" oninvalid="this.setCustomValidity('Enter valid city')" oninput="this.setCustomValidity('')"required>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">State</label>
                                <input type="text" name="state" class="form-control" value="{{state}}" pattern="([a-zA-Z]+|[a-zA-Z]+\\s[a-zA-Z]+)" oninvalid="this.setCustomValidity('Enter valid state')" oninput="this.setCustomValidity('')"required>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Zip</label>
                                <input type="text" name="zip" class="form-control" value="{{zip}}" pattern="^[1-9]{1}[0-9]{2}\\s{0, 1}[0-9]{3}$" oninvalid="this.setCustomValidity('Enter valid zip')" oninput="this.setCustomValidity('')"required>

                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" oninvalid="this.setCustomValidity('Agree to terms and conditions')" oninput="this.setCustomValidity('')"required>
                                    <label class="form-check-label" for="invalidCheck" required>
                                        <font style="color:#6C6C6C;">Agree to terms and conditions</font>
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>