<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>My Dashbord</title>
  </head>
  <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="/">JAN SAMASYA NIVARAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="dashbord">DASHBORD</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" tabindex="-1">ABOUT US</a>
      </li>
    </ul>
    <a href="/registration/reg"><button class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit">Registration</button></a>
    <a href="/login/login"><button class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit">Login</button></a>
    
    
  </div>
</nav>
<br>
<br>
    <table class="table table-striped table-responsive-md">
        <thead class="table-primary">
          <tr>
            <th scope="col">ComplaintId</th>
            <th scope="col">Problem</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Address</th>
            <th scope="col">Ward</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {%for obj in complaintdata%}
          <tr>
            <th scope="row">{{obj.complaint_id}}</th>
            <td>{{obj.problem}}</td>
            <td>{{obj.description}}</td>
            <td valign="middle" align="center"><img src='{{obj.image.url}}' width="150px" height="100px"></td>
            <td>{{obj.address}}</td>
            <td>{{obj.ward}}</td>
            <td>{{obj.zip}}</td>
            <td>
              
              {%if obj.solved%}
                <font color="green">Solved</font>
              {%else%}
                <font color="red">Unsolved</font>
              {%endif%}
              
            </td>
            <td>{{obj.date}}</td>
            
          </tr>
          {%endfor%}
            </tbody>
      </table>
      
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>