<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static '/complaint.css'%}">


    <title>complaint</title>
    <script> 
    function upload_check()
        {
            var upl = document.getElementById("file_id");
            var imgsize = document.getElementById("imagesize");
            
            
            if(Math.round(upl.files[0].size)/1024 > 1000 )
            {
            imgsize.style.display=""; 
            upl.value = "";
            }
            else
            {

                imgsize.style.display="none"; 
            }
        };
     
</script> 
</head>

<body>
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="/home">JAN SAMSYA NIVARAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="userhome">HOME</a>
        
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="mydashbord">MY DASHBORD</a>
        
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="complaint">COMPLAINT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="myaccount">MY ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="help">HELP</a>
      </li>
          </ul>
    <a href="/user/logout"><button class="btn btn-outline-success mr-2 my-2 my-sm-0" type="submit">Logout</button></a>
   
    
  </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-title">
                    Complaint Box
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 registration-form">
                        <form class="needs-validation"  method="post" action="{{action}}" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label">Problem</label>
                                <select name="problem" id="problem" selected={{problem}} required>
                                    <option value="Water" {% if problem == 'Water'%}selected{% endif%}>Water</option>
                                    <option value="Electricity"  {% if problem == 'Electricity'%}selected{%endif%}>Electricity</option>
                                    <option value="Garbage"  {% if problem == 'Garbage'%}selected{%endif%}>Garbage</option>
                                    <option value="Other"  {% if problem == 'Other'%}selected{%endif%}>Other</option>
                                    
                                </select>

                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Description</label>
                                <textarea rows="4" cols="40" name="desc"  class="form-control" minlength="10" 
                                    required>{{desc}}</textarea>
                            </div>
                            <div class="form-group">
                                <label class="form`-control-label">Image</label>
                                <input type="file" accept="image/*" name="image" onchange="upload_check()" id="file_id"  id="image"class="form-control" required>
                                <span style='display:none;color:red' id="imagesize"><small>Image size should be <2 MB
                                        </small></span>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Address</label>
                                <textarea rows="4" cols="40" name="address" value="" minlength="7" class="form-control" value=""
                                    required>{{address}}</textarea>

                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Ward</label>
                                <select name="ward" id="ward" selected={{ward}} required>
                                    <option value="Maninagr" {% if ward == 'Maninagar'%}selected{% endif%}>Maninagar</option>
                                    <option value="Shahpur" {% if ward == 'Shahpur'%}selected{% endif%}>Shahpur</option>
                                    <option value="Ghodasar" {% if ward == 'Ghodasar'%}selected{% endif%}>Ghodasar</option>
                                    <option value="Kankaria" {% if ward == 'Kankaria'%}selected{% endif%}>Kankaria</option>
                                    <option value="Shyamal" {% if ward == 'Shyamal'%}selected{% endif%}>Shyamal</option>
                                </select>


                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Zip</label>
                                <input type="text" name="zip" value="{{zip}}" class="form-control" value="{{zip}}" pattern="^[1-9]{1}[0-9]{2}\\s{0, 1}[0-9]{3}$" required>

                            </div>



                            <div class="col-lg-12 loginbttm">

                                <div class="col-lg-6 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>